body,
button,
input,
select,
optgroup,
textarea {
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

p {
    font-size: 1.4em !important;
    margin: 2% 0 2% 0 !important;
}

.p-black {
    color: #000 !important;
}

.p-white {
    color: #FFF !important;
}

@import "headings";

@import "copy";
